<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/print.min.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.min.js"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/print.min.js"></script>
</body>
</html>
